.priority {
  border-radius: 3px;
  width: auto;
  font-size: 0.6rem;
  color: #FFF;
  padding: 0.2rem 0.4rem;
  font-weight: 700;
}

.Low {
  background-color: #68c763;
}

.Medium {
  background-color: #ffbd45;
}

.Height {
  background-color: #9f1818;
}