@import "@/app/styles/vars";

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  color: $text-color;
  border-radius: 3px;
  border: 1px solid red;
  user-select: none;

  &:hover {
    //background-color: $red-color;
    //color: #fff;
  }
}