@import "@/app/styles/vars";

.input {
  width: 250px;
  height: 30px;
  border: 1px #555 solid;
  background-color: transparent;
  border-radius: 3px;
  //font-size: $input-font-size;
  outline: none;
  //color: $placeholder-color;
  padding-left: 10px;
}